* {
  border: none;
  border-radius: 0px;
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 24px;
}

window#waybar {
  background: transparent;
  color: #cecece;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: #928374;
}

#workspaces button.active {
  color: #f4d9e1;
  background-color: #171717;
  border-radius: 24px;
}

#tray,
#custom-launcher,
#custom-randwall,
#clock,
#workspaces,
#custom-playerctl,
#cpu,
#memory,
#pulseaudio,
#network {
  color: #cecece;
  border-radius: 24px;
  margin: 5px;
  padding: 0 13px;
  background: #171717;
}

#clock {
  font-weight: bold;
}

#pulseaudio.muted {
  color: #928374;
}

#custom-launcher {
  color: #9077e7;
  margin: 0px 0px 0px 0px;
  border-radius: 0 24px 24px 0;
  font-size: 20px;
}

#custom-playerlabel {
  background: transparent;
  padding-right: 15px;
  border-radius: 24px;
  margin: 5px 5px 5px 0;
  font-weight: bold;
}
