// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file

themes {
    tokyodark {
        fg "#A0A8CD"
        bg "#11121D"
        red "#EE6D85"
        green "#95C561"
        yellow "#D7A65F"
        blue "#7199EE"
        magenta "#A485DD"
        orange "#D7A65F"
        cyan "#38A89D"
        black "#06080A"
        white "#A0A8CD"
    }
}
