// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file

themes {
    vague {
        fg "#CDCDCD"
        bg "#18191A"
        red "#D2788C"
        green "#A3CC81"
        yellow "#D1A374"
        blue "#8CA0DD"
        magenta "#BAA2BB"
        orange "#D1A374"
        cyan "#7994AA"
        black "#18191A"
        white "#CDCDCD"
    }
}
